.text-area .scroll-pane
{
  -fx-hbar-policy: never;
}

.scroll-pane
{
  -fx-background-insets: 0;
  -fx-background-color: transparent;
  -fx-padding: 0;
}

.text-area
{
  -fx-font-size: 16px;
}

.line-numbers-box
{
  -fx-font-size: 16px;
}

.status-bar
{
  -fx-padding: 2px 0px 2px 4px;
}
