/* Storage: a5ffe1 (light blue) */
/* Background #101218 (off black) */
/* Control Text Color: #82848e (light gray) */

.root
{
  textColor: #a5ffe1;
  controlTextColor: #c9ccdb;
  backgroundColor: #101218;
  -fx-font-family: 'Roboto', 'Segoe UI', 'sans-serif';
}

.document-area
{
  -fx-font-family: 'Roboto', 'Segoe UI', 'sans-serif';
}

.temp
{
  -fx-background-color: backgroundColor;
}

.status-bar
{
  -fx-background-color: backgroundColor;
}

.text-area
{
  -fx-focus-color: transparent;
  -fx-text-fill: textColor;
  -fx-background-insets: 0;
  -fx-background-color: transparent;
  -fx-text-box-border: transparent;
  -fx-border-insets: null;
  -fx-padding: 0;
}

.text-area .content
{
  -fx-background-color: backgroundColor;
  /*-fx-font-family: textFont;*/
  -fx-background-radius: 0;
  -fx-background-insets: 0;
}

.text-area:focused
{
  -fx-background-color: transparent;
}

.line-numbers-box
{
  -fx-background-color: backgroundColor;
  -fx-text-fill: controlTextColor;
	-fx-padding: 5 5 0 5;
}

.line-numbers-box .scroll-pane
{
  -fx-background-radius: 0;
  -fx-background-insets: 0;
}

/* Tab Pane stuff */
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
  -fx-text-fill: controlTextColor;
}

.tab-pane > .tab-header-area > .headers-region > .tab
{
  -fx-background-color: backgroundColor;
  -fx-background-insets: 0 1 1 0, 1 2 1 1, 2 3 1 2;
  -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
  -fx-padding: 0.083333em 0.5em 0.0769em 0.5em; /* 1 6 0.99 6 */
}

.tab-pane > .tab-header-area > .tab-header-background
{
  -fx-background-color: backgroundColor;
}

.tip-box
{
  -fx-background-color: backgroundColor;
  -fx-font-family: 'Segoe UI';
  -fx-font-size: 23px;
}
